@using Microsoft.AspNetCore.Http;

@{
    string userName = Context.Session.GetString("userName");
    string userEmail = Context.Session.GetString("userEmail");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QuanLyCuaHang</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KTLT_QuanLyCuaHang.styles.css" asp-append-version="true" />
    <style>
        .navbar-brand:hover {
            color: whitesmoke;
        }
    </style>
    @await RenderSectionAsync("Styling", required: false)
</head>
<body>
    <header>
        <nav class="navigation-bar">

            <div class="navbar-brand-wrapper">
                <div class="navbar-brand-link-wrapper">
                    <a class="navbar-brand" asp-area="" asp-page="/Index">StoreManagement Inc.</a>
                </div>
            </div>
            @if (!string.IsNullOrEmpty(userEmail))
            {
                <div class="action-menu-wrapper">
                    <ul class="action-menu">
                        <li class="sub-menu-parent">
                            <a href="http://google.com">Products</a>
                            <ul class="sub-menu">
                                <li><a href="#">Sub Item 1</a></li>
                                <li><a href="#">Sub Item 2</a></li>
                                <li><a href="#">Sub Item 3</a></li>
                                <li><a href="#">Sub Item 4</a></li>
                            </ul>
                        </li>
                        <li class="sub-menu-parent">
                            <a href="#">Categories</a>
                            <ul class="sub-menu">
                                <li><a href="#">Sub Item 1</a></li>
                                <li><a href="#">Sub Item 2</a></li>
                                <li><a href="#">Sub Item 3</a></li>
                                <li><a href="#">Sub Item 4</a></li>

                            </ul>
                        </li>
                        <li class="sub-menu-parent">
                            <a href="#">Sale Receipts</a>
                            <ul class="sub-menu">
                                <li><a href="#">Sub Item 1</a></li>
                                <li><a href="#">Sub Item 2</a></li>
                                <li><a href="#">Sub Item 5</a></li>
                                <li><a href="#">Sub Item 6</a></li>
                            </ul>
                        </li>
                        <li class="sub-menu-parent">
                            <a href="http://google.com">Purchase Invoice</a>
                            <ul class="sub-menu">
                                <li><a href="#">Sub Item 1</a></li>
                                <li><a href="#">Sub Item 2</a></li>
                                <li><a href="#">Sub Item 3</a></li>
                                <li><a href="#">Sub Item 4</a></li>
                            </ul>
                        </li>
                        <li class="sub-menu-parent">
                            <a href="http://google.com">Inventory</a>
                        </li>
                        <li class="sub-menu-parent">
                            <a href="http://google.com">Expired Products</a>
                        </li>
                    </ul>
                </div>
            }
            else
            {
                <div class="action-menu-wrapper"></div>
            }

            <div class="login-status">
                <ul class="register-login">
                    @if (string.IsNullOrEmpty(userEmail))
                    {
                        <li class="nav-register-login">
                            <a class="nav-link text-dark" href="/register">Register</a>
                        </li>
                        <li class="nav-register-login">

                            <a class="nav-link text-dark" href="/login">Login</a>

                        </li>
                    }
                    else
                    {
                        <li class="nav-register-login">
                            <span class="nav-link text-dark" title="@userEmail">Hi @userName</span>
                        </li>
                        <li class="nav-register-login">
                            <a class="nav-link text-dark" href="/logout">Logout</a>
                        </li>
                    }
                </ul>
            </div>

        </nav>
    </header>

    <div class="container">

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - KTLT_QuanLyCuaHang_22880007
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>