@page
@model KTLT_QuanLyCuaHang.Pages.Purchase_Invoice.IndexModel
@using Microsoft.AspNetCore.Http
@using KTLT_QuanLyCuaHang.Entities
@using KTLT_QuanLyCuaHang.BusinessLogic_BLL

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Purchase Invoice";

    string userEmail = HttpContextAccessor.HttpContext.Session.GetString("userEmail");

    string infoText = string.Empty;
    string searchText = string.Empty;
    string searchPurchaseInvoice = string.Empty;

    PurchaseInvoice[]? purchaseInvoices = PurchaseInvoice_BLL.GetPurchaseInvoiceList();

    if (Request.Method == "POST")
    {
        searchText = Request.Form["searchText"];
        searchPurchaseInvoice = Request.Form["searchPurchaseInvoice"];

        purchaseInvoices = PurchaseInvoice_BLL.SearchPurchaseInvoice(searchText);

        if (purchaseInvoices == null)
        {
            infoText = $"No product matched '{searchText}'";
        }

    }
}

<div>
    @if (string.IsNullOrEmpty(userEmail))
    {
        <div style="display:flex; align-items: center; justify-content: center; height: 400px">
            <h2>Login to use this app</h2>
        </div>
    }
    else
    {
        @if (string.IsNullOrEmpty(searchPurchaseInvoice))
        {
            <h2 style="padding: 1rem 0">List of Purchase Invoices</h2>
        }
        else
        {
            <h2 style="padding: 1rem 0">Matched Purchase Invoices for keyword '@searchText'</h2>
        }

        <div style="padding-bottom: 1.5rem; display: flex; align-items: center">
            @if (string.IsNullOrEmpty(searchPurchaseInvoice))
            {
                <a href="/create-purchase-invoice" class="action-button add-new-product">Add new purchase invoice</a>
            }
            else
            {
                <a href="/purchase-invoice" class="action-button add-new-product">Back to all invoices</a>
            }
            <div class="search-product-wrapper">
                <form method="POST">
                    <input class="search-input" type="text" name="searchText" value="@searchText" placeholder="Search sale receipt..." />
                    <input type="hidden" name="searchPurchaseInvoice" value="searchPurchaseInvoice" />
                    <input class="action-button" type="submit" value="Search" />
                </form>
            </div>
        </div>

        @if (purchaseInvoices == null && string.IsNullOrEmpty(searchPurchaseInvoice))
        {
            <p>No Data...</p>
        }
        else if (purchaseInvoices == null && !string.IsNullOrEmpty(searchPurchaseInvoice))
        {
            <p>No sale receipt matched for '@searchText'.</p>
        }
        else
        {
            <table>
                <tr>
                    <th>Sale Receipt ID</th>
                    <th>Created on</th>
                    <th>Detail</th>
                    <th>Actions</th>
                </tr>
                @foreach (PurchaseInvoice p in purchaseInvoices)
                {
                    <tr>
                        <td>@p.id</td>
                        <td>@p.createdDateTimeUTC</td>
                        <td>
                            <div><a href="/purchase-invoice/purchase-invoice-detail?purchaseInvoiceId=@p.id" class="action-button">View Detail</a></div>
                        </td>
                        <td class="action-buttons-wrapper">
                            <div><a href="/update-purchase-invoice?purchaseInvoiceId=@p.id" class="action-button">Update</a></div>
                            <div><a href="/delete-purchase-invoice?purchaseInvoiceId=@p.id" class="action-button dangerous">Delete</a></div>
                        </td>
                    </tr>
                }

            </table>
        }
    }

</div>

@section Styling{
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }

        tr:first-child, tr:first-child:hover {
            background-color: deepskyblue;
            color: white;
        }

        tr:hover {
            background-color: #dddddd;
        }

        .action-button {
            text-decoration: none;
            display: inline-block;
            line-height: 1.5rem;
            background-color: deepskyblue;
            color: white;
            text-align: center;
            border-radius: 4px;
            padding: 8px;
        }

            .action-button:hover {
                color: white;
                background-color: blue;
            }

            .action-button.dangerous {
                background-color: red;
            }

        .add-new-product {
            background-color: forestgreen;
        }

        .action-button.dangerous:hover {
            background-color: darkred;
        }

        .action-buttons-wrapper {
            display: flex;
            padding: 5px 10px;
            justify-content: space-evenly;
            align-items: center;
        }

        .search-product-wrapper {
            padding-left: 4rem;
        }

        .search-input {
            width: 25rem;
            line-height: 1.5rem;
            border-radius: 8px;
            padding-left: 1rem;
            padding: 8px;
        }

    </style>
}

